body,
html {
  @include reset-box-model;
  background-color: $c-primary;
}

.container {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;

	position: relative;
}

.m-bottom-10 {
	margin-bottom: 10px;
}
