<div class="grid grid-container">
	{# Uncomment when debugging/not using the internet #}
{# 	{% for i in range(0, 9) -%}
		<div class="item -four e-raised e-hover-floating a-animate">
			<div class="info">
				<img class="image" src="https://untappd.akamaized.net/site/beer_logos/beer-291819_c79ff_sm.jpeg" alt="Keller Instinct">
				<h3 class="name">Keller Instinct</h3>
				<h3 class="company">Wayward Brewing</h3>
			</div>
			<div class="details">
				<p class="abv">4.8% ABV</p>
				<p class="ibu m-bottom-10">27 IBU</p>
				<p class="rating-title">My rating</p>
				<p class="rating">Hey how ya garn</p>
				<p class="rating-title">Global rating</p>
				<p class="rating">Batman vs Superman: Dawn of Justice</p>
			</div>
			<p class="type">Kellerbier / Zwickelbier</p>
		</div>
	{%- endfor %} #}
</div>
