<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Dennis, can we date?</title>
<meta property="og:title" content="Dennis, can we date?"/>

<meta name="description" content="Dennis, can we date?">
<meta property="og:description" content="Dennis, can we date?" />

<meta property="og:url" content="http://denniscanwe.date" />

<meta property="og:image" content="http://denniscanwe.date/img/opengraph.png" />

<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta property="og:site_name" content="Dennis, can we date?"/>
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="http://denniscanwe.date/img/opengraph.png" />

<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/favicon.json">
<meta name="theme-color" content="#ffffff">
