<table class="table" cellspacing="0" summary="Your selections">
	<tr>
		<th class="one heading">Stars</th>
		<th class="two heading">Rating</th>
	</tr>
	<tr>
		<td class="one">0 - 1:</td>
		<td class="two">New Year's 2011</td>
	</tr>
	<tr>
		<td class="one">1 - 2:</td>
		<td class="two">Squashed Macca's cheese burger</td>
	</tr>
	<tr>
		<td class="one">2 - 3:</td>
		<td class="two">The best of Nicolas Cage</td>
	</tr>
	<tr>
		<td class="one">3 - 3.5:</td>
		<td class="two">Batman vs Superman: Dawn of Justice</td>
	</tr>
	<tr>
		<td class="one">3.5 - 4:</td>
		<td class="two">Little bit hey how ya garn</td>
	</tr>
	<tr>
		<td class="one">4 - 4.5:</td>
		<td class="two">Hey how ya garn</td>
	</tr>
	<tr>
		<td class="one">4 - 5:</td>
		<td class="two">Milton mangoes</td>
	</tr>
</table>
