.home {
	padding: 70px 0;

	.title {
		margin-bottom: 40px;
		text-align: center;
		color: $c-white;

		@include grid-media($mobile) {
			font-size: 4.8rem;
		}
	}

	.subtitle {
		margin-bottom: 0;

		text-align: center;
		color: $c-white;
		line-height: 20px;
	}

	.table {
		margin: 0 auto 70px;
		color: $c-white;
	}
}
