.home .item {
	position: relative;
	background-color: $c-white;

	color: $c-primary;

	.info {
		position: relative;

		padding: 16px;
		padding-right: 56px;
		margin-bottom: 20px;
		height: 80px;
	}

	.image {
		position: absolute;
		top: 16px;
		left: 16px;

		width: 100px;
		height: 100px;

		border-radius: 50%;
	}

	.name,
	.company {
		display: block;
		padding-left: 120px;

		line-height: 20px;
		word-wrap: break-word;
	}

	.company {
		@include f-primary-light;
	}

	.name {
		padding-top: 20px;

		@include f-primary-bold;
		font-size: 1.8rem;
	}

	.company,
	.name {
		max-width: 140px;

		@include grid-media($tablet) {
			max-width: 180px;
		}

		@include grid-media($mobile) {
			max-width: 160px;
			font-size: 1.4rem;
		}
	}

	.details {
		min-height: 190px;

		margin-bottom: 10px;
		padding: 0 40px;
		padding-right: 56px;

		@include grid-media($tablet) {
			min-height: inherit;
			margin-bottom: 30px;
		}
	}

	.description {
		margin-bottom: 0;
	}

	.abv {
		margin: 0;
	}

	.abv,
	.ibu {
		@include f-primary-semibold;
		font-size: 1.8rem;
	}

	.rating-title {
		margin: 0;
		@include f-primary-bold;
		font-size: 1.8rem;

		@include grid-media($mobile) {
			font-size: 1.4rem;
		}
	}

	.rating {
		@include f-primary-regular;
		font-size: 1.4rem;

		@include grid-media($mobile) {
			font-size: 1.3rem;
		}

		&:last-of-type {
			margin: 0;
		}
	}

	.type {
		position: absolute;
		top: 0;
		right: 30px;

		margin-bottom: 0;

		height: 42px;
		width: 280px;
		line-height: 1;

		@include f-primary-light;
		text-align: center;
		letter-spacing: 1.2px;
		font-size: 1.8rem;

		transform: rotate(270deg);
		transform-origin: right;
	}
}
