{% extends "master.njk" %}

{% block content %}
	<div class="home container">
		<h1 class="title">Dennis does beer.</h1>
		<h2 class="subtitle">Accurate, well-documented rating system:</h2>
		{% include "partials/table.njk" %}
		{% include "partials/grid.njk" %}
	</div>
{% endblock %}
